<div class="row">
  <div class="col">
    <h1>Movies</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="searchTerm"  placeholder="search" #input>
    </mat-form-field>
  </div>
  <div class="col">
    <button mat-raised-button (click)="filter()" color="primary">search</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <ng-container *ngIf=" movies$ |async as movies">
      <app-movie-table  [movies]="movies" />
    </ng-container>
  </div>
</div>
